@using WebUI.Models.BusinessViewModels
@using DateLayer.Models
@addTagHelper "*, WebUI"
@model PaginatedList<DateLayer.Models.Invoice>
@{ Layout = ""; }

<p>	<a asp-action="Edit" asp-route-id="0" class="btn btn-primary">Створити нову накладну</a> </p>

<input asp-for="FilterInPL.TotalPages" class="form-control" />

<table class="table">
	<thead>
		<tr>
			<th>
				<a class="SortParm" sortingMethod="DateSortParm">
					@Html.DisplayNameFor(model => model.Items.FirstOrDefault().InvoiceNumber)
					<span class="glyphicon glyphicon-sort"></span>
				</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Items.FirstOrDefault().DateCreated)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Items.FirstOrDefault().DateOfShipment)
			</th>
			<th>
				<a class="SortParm" sortingMethod="NameSortParm">
					@Html.DisplayNameFor(model => model.Items.FirstOrDefault().Manager)
					<span class="glyphicon glyphicon-sort"></span>
				</a>
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Items.FirstOrDefault().Annotation)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (Invoice item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.InvoiceNumber)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateCreated)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.DateOfShipment)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Manager.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Annotation)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>					
				</td>
			</tr>
		}
	</tbody>
</table>
<page-link page-model="Model" page-action="Index"></page-link>





